body {
  font-family: "Helvetica", "Verdana", "Gill Sans", "Avantgarde",
    "Helvetica Narrow", "Courier New", serif;
  color: #616161;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.gpec-title {
  padding-left: 55px;
}
.gpec-logo {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.gpec-big-logo {
  margin-right: 30px;
}
footer.gpec-footer {
  font-size: 0.8em;
  margin-top: 150px;
}
footer.gpec-footer hr {
  margin-bottom: 5px;
}
.gpec-content {
  margin-top: 50px;
  padding: 20px;
}
.profils-skills-col-action {
  width: 30px;
}
.profils-col-action {
  width: 60px;
}
.profils-col-file {
  width: 60px;
}
.profils-col-tag {
  width: 170px;
}
.profils-col-title {
  width: 620px;
}
.profils-col-stats {
  width: 50px;
}
.profils-col-commentary {
  width: 320px;
}
.levels-col-action {
  width: 30px;
}
.levels-col-shortname {
  width: 150px;
}
.levels-col-number {
  width: 120px;
}
.levels-col-code {
  width: 70px;
}
.domains-col-action {
  width: 30px;
}
.domains-col-code {
  width: 500px;
}
.domains-col-shortname {
  width: 750px;
}
.skills-col-action {
  width: 30px;
}
.skills-col-type {
  width: 150px;
}
.skills-col-commentary {
  width: 200px;
}
.skills-col-shortname {
  width: 300px;
}
.skills-col-family {
  width: 150px;
}
.skills-col-code {
  width: 150px;
}
/* style used to switch between vertical and 2 columns layout */
.profils-skills-vertical {
  width: 100%;
}
.family-col-action {
  width: 30px;
}
.family-col-shortname {
  width: 200px;
}

.family-col-id {
  width: 70px;
}

.family-col-commentary {
  width: 200px;
}

.Familys-skills-col-action {
  width: 30px;
}

.Familys-skills-vertical {
  width: 100%;
}
